.container {
	font-family: 'Varela', sans-serif;
    width: 200px;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    background-color: #CBCBCB;
    padding: 10px 20px 20px 20px;
    box-shadow: 5px 5px 5px #888888;
    float: none;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}

#button {
	margin-top: 10px;
}

/*#email {
	margin-top: 10px;
}*/